h1,h2,h3,h4{color: sandybrown;}
p{color: blue;}
ul{color: blue;}
body{font-family: Angsana 'Courier New', Courier, monospace;}

body{font-family: verdana, arial, helvetica,sans-serif; font-size: medium;}

div{margin: 10px;border: 0.5px solid#3d3fb6;}
p{
    text-align: justify;
}
ul{
    text-align: justify;
}
ul{text-align: left;}
    

p{text-align: left;}